<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPUAsmJP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SPUAsmSR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A090F0E4253E3C8900342FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A090F0EB253E418E00342FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8B8B253644AA00CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8BB825364E2600CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8BD12536570B00CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8BED25370C7A00CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8C242537984700CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8C462537AB2E00CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8C512538771A00CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0DD8CA82539EC3C00CD405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
